@model Report
@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
}

<h2>Create Report</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Value"></label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-controller="Report" asp-action="Statistic" class="btn btn-info mt-3">Statistics</a>

@* <h2>Tạo Report</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Value"></label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu Report</button>
</form>

<a href="@Url.Action("Index")" class="btn btn-info">Quay Lại</a> *@

