@model Blank.Models.Ingredient

@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
}

<div class="container">
    <h2>Create Ingredient</h2>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="IngName" class="control-label">Name</label>
            <input asp-for="IngName" class="form-control" />
            <span asp-validation-for="IngName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IngDescription" class="control-label">Description</label>
            <textarea asp-for="IngDescription" class="form-control"></textarea>
            <span asp-validation-for="IngDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Numer" class="control-label">Number</label>
            <input asp-for="Numer" class="form-control" />
            <span asp-validation-for="Numer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhotoFile" class="control-label">Upload Photo</label>
            <input asp-for="PhotoFile" type="file" class="form-control" />
            <span asp-validation-for="PhotoFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
